$color-black = #000
$color-white = #fff
$color-grey = #d9d9d9
$border-color = #c8c8cd
$success-color = #5cb85c
$success-border-color = #4caf50
$danger-color = #d9534f
$danger-border-color = #d43f3a
$warning-color = #f0ad4e
$warning-border-color = #eea236
$info-color  = #5bc0de
$info-border-color  = #46b8da
$primary-color = #286090

//ums的主题色
$theme-color = #004684

//check-box component
$check-box-border = #cbcbcb

//check-list component
$check-list-border = #E7E7E7
$check-list-disable = #D9D9D9
$check-list-enable = #26a2ff

//radio-list component
$radio-list-border = #E7E7E7
$radio-list-disable = #D9D9D9

//input-number component
$input-number-disable = #EEF1F6
$input-number-text = #97A8BE

//keyboard component
$keyboard-key-color = #CCCCCC
$keyboard-next-button-color = #139812

//mask component
$mask-background-color = #2F3032

//progress component
$progress-background-color = #EBEBEB

//rate component
$rate-background-color = #FF6A05
$rate-disable-color = #aaa

//searcbar component
$searchbar-button-txt-color = #26A2FF

//switch component
$switch-border-color = #dfdfdf
$switch-button-border-color = #aaa

//tip component
$tip-success-background-color = #dff0d8;
$tip-success-txt-color = #3c763d;
$tip-success-border-color = #d6e9c6

$tip-info-background-color = #d9edf7;
$tip-info-txt-color = #31708f;
$tip-info-border-color = #d9edf7

$tip-warning-background-color = #fcf8e3
$tip-warning-border-color = #fcf8e3
$tip-warning-txt-color = #8a6d3b;

$tip-danger-background-color = #f2dede
$tip-danger-border-color = #ebccd1
$tip-danger-txt-color = #a94442;

//toast component
$toast-background-color = #222222

//range component
$range-button-background-color = #fafafa
$track-background-color = #A9ACB1

//A8 屏幕宽高 720*1280
$maxWidth = 750px
$maxHeight = 1334px