{
    "presets": [
        ["es2015", { "modules": false }],
        "stage-2",
        "env"
    ],
    "plugins": [
        ["transform-runtime", {
            "helpers": false,
            "polyfill": false,
            "regenerator": true
        }]
    ],
    "comments": false
}
